mixin ng-controller(scope)
    ng-controller(ng-controller= scope.controller + ' as ' + scope.controllerAlias)
        block

mixin amma-form(scope)
    form(name = scope.formName, novalidate='', ng-submit="$event.preventDefault()")&attributes(attributes)
        block

mixin amma-error-wrapper(scope, name)
    div(ng-messages=scope.formName + '.' + name + '.$error', md-auto-hide='false', ng-show=scope.formName + '.' + name + '.$touched')
        block

mixin amma-error-item(type)
    div(ng-message=type)
        block

mixin amma-form-item-container(scope)
    md-input-container(flex='')&attributes(attributes)
        block

mixin amma-input(scope, name, label, type, model)
    if label
        label=label
    if !type
        - type='text'
    if !model
        - model = scope.controllerAlias +'.model.'+name
    input(type=type, ng-model = model, name=name)&attributes(attributes)

mixin amma-input-hidden(scope, name, model)
    if !model
        - model = scope.controllerAlias +'.model.'+name
    input(type='hidden', ng-model = model, name=name)&attributes(attributes)

mixin amma-text-angular(scope, name, label, model)
    if label
        label=label
    if !model
        - model = scope.controllerAlias +'.model.'+name
    text-angular(name="description", ng-model=model, ta-target-toolbars="editor-toolbar")

mixin amma-text-area(scope, name, label, model)
    if label
        label=label
    if !model
        - model = scope.controllerAlias +'.model.'+name
    textarea(ng-model=model,rows="3",md-select-on-focus='')&attributes(attributes)



mixin amma-select(scope, name, label, model)
    if label
        label=label
    if !type
        - type='text'
    if !model
        - model =  scope.controllerAlias + '.model.'+name
    md-select(ng-model=model, name=name)&attributes(attributes)
        block

mixin amma-datepicker(scope, name, label, model)
    if !type
        - type='text'
    if !model
        - model = scope.controllerAlias + '.model.'+name
    md-datepicker(name=name,ng-model= model, md-placeholder=label, flex='')&attributes(attributes)

mixin amma-checkbox(scope, name, label, model)
    if !type
        - type='text'
    if !model
        - model = scope.controllerAlias + '.model.'+name
    md-checkbox(ng-model=model,aria-label='', ng-true-value='true', ng-false-value='false')&attributes(attributes)
    =label


mixin amma-switch(scope, name, label, model)
    if !type
        - type='text'
    if !model
        - model =  scope.controllerAlias +'.model.'+name
    label(flex='')=label
    md-switch(flex = '', ng-model=model,ng-true-value=1, ng-false-value=0, aria-label=label)&attributes(attributes)

mixin amma-form-submit(scope, label)
    md-button.md-primary.md-raised(ng-click=scope.controllerAlias + '.submit($event)', ng-disabled=scope.formName + '.$invalid', md-autofocus='')
        =label

mixin amma-form-submit-save(scope, label)
    md-button.md-accent.md-raised(ng-click=scope.controllerAlias + '.submit($event, true)', ng-disabled=scope.formName + '.$invalid', md-autofocus='')
        =label

mixin amma-form-cancel(scope, label)
    md-button.md-warn.md-raised(ng-click=scope.controllerAlias + '.hide($event)')
        =label

mixin amma-button-primary(label)
    md-button.md-primary.md-raised()&attributes(attributes)
        =label

mixin amma-button-accent(label)
    md-button.md-accent.md-raised()&attributes(attributes)
        =label

mixin amma-button-warning(label)
    md-button.md-warn.md-raised()&attributes(attributes)
        =label


mixin amma-file-upload(scope, name, label, scopeVariable,fileType, model )
    - scopeVariable = scope.controllerAlias +'.'+scopeVariable

    if !model
        - model =  scope.controllerAlias +'.model.'+name

    md-button.md-primary.md-raised(ngf-select='', ng-model= scopeVariable + '.files', amma-file-token=model,amma-file-type=fileType,amma-file=scopeVariable + ".all",amma-file-busy= scopeVariable + ".isBusy",ng-show="!" + scopeVariable + ".isBusy",amma-file-remove-func=scopeVariable + ".removeFunc",amma-file-validator="true" )
        =label
    md-progress-linear(md-mode="indeterminate",ng-show=scopeVariable + '.isBusy')
    md-grid-list(flex,md-cols="9",md-cols-xs="9",md-row-height="4:3",md-gutter="10px", ng-if=scopeVariable + ".all.length")
        md-grid-tile(md-rowspan="1", md-colspan="1", ng-repeat="file in " + scopeVariable + ".all", ng-style="::{ 'background-image': 'url(' + file.url + ')', 'background-size' : 'cover', 'cursor':'pointer' }", layout-padding="10")
            div.img-wrap
                md-button.md-icon-button.md-warn.md-img-remove(ng-click=scopeVariable + ".removeFunc(file.filename, $event)")
                    md-icon(md-font-icon="zmdi zmdi-close-circle")

mixin amma-categories(scope, name, label, model)
    label
        =label
    if !model
        - model =  scope.controllerAlias +'.model.'+name
    md-chips(
    name=name,
    md-autocomplete-snap='',
    ng-model=model,
    md-require-match='true',
    )&attributes(attributes)
        md-autocomplete(
        md-selected-item= name + '_selectedItem',
        md-search-text= name + '_searchText',
        md-items='item in ' + name + '_categorySearch(' + name + '_searchText)',
        md-item-text='item',
        placeholder='Select categories',
        amma-category-search = name + '_categorySearch')
            span(md-highlight-text=name + '_searchText') {{item}}
        md-chip-template
            span
                | {{$chip._id || $chip}}

mixin amma-stores(scope, name, label, model)
    if !model
        - model =  scope.controllerAlias +'.model.'+name

    md-autocomplete(
    md-selected-item= model,
    md-search-text= name + '_searchText',
    md-items='item in ' + name + '_storeSearch(' + name + '_searchText)',
    md-item-text='item',
    md-require-match='',
    placeholder='Select store',
    md-floating-label = label,
    amma-store-search = name + '_storeSearch',
    )&attributes(attributes)
        md-item-template
            span(md-highlight-text=name + '_searchText')
                | {{item}}
        block



mixin amma-store-autocomplete-full(scope, name, label, model)
    if !model
        - model =  scope.controllerAlias +'.model.'+name

    md-autocomplete(
    md-selected-item= model,
    md-search-text= name + '_searchText',
    md-items='item in ' + name + '_storeSearch(' + name + '_searchText)',
    md-item-text='item._id',
    md-require-match='',
    placeholder='Search store',
    md-floating-label = label,
    amma-store-search = name + '_storeSearch',
    amma-store-search-only-id = 'false',
    )&attributes(attributes)
        md-item-template
            span(md-highlight-text=name + '_searchText')
                | {{item._id}}
        block

mixin amma-user-autocomplete-full(scope, name, label, model)
    if !model
        - model =  scope.controllerAlias +'.model.'+name

    md-autocomplete(
    md-selected-item= model,
    md-search-text= name + '_searchText',
    md-items='item in ' + name + '_userSearch(' + name + '_searchText)',
    md-item-text='item._id',
    md-require-match='',
    placeholder='Search user',
    md-floating-label = label,
    amma-user-search = name + '_userSearch',
    amma-user-search-only-id = 'false',
    )&attributes(attributes)
        md-item-template
            span(md-highlight-text=name + '_searchText')
                | {{item._id}}
        block

mixin amma-order-status-autocomplete(scope, name, label, model)
    if !model
        - model =  scope.controllerAlias +'.model.'+name

    md-autocomplete(
    md-selected-item= model,
    md-search-text= name + '_searchText',
    md-items='item in ' + name + '_orderStatusSearch(' + name + '_searchText)',
    md-item-text='item',
    md-require-match='',
    placeholder='Search order status',
    md-floating-label = label,
    amma-order-status-search = name + '_orderStatusSearch',
    )&attributes(attributes)
        md-item-template
            span(md-highlight-text=name + '_searchText')
                | {{item}}
        block


mixin amma-payment-method-autocomplete-full(scope, name, label, model)
    if !model
        - model =  scope.controllerAlias +'.model.'+name

    md-autocomplete(
    md-selected-item= model,
    md-search-text= name + '_searchText',
    md-items='item in ' + name + '_paymentMethodSearch(' + name + '_searchText)',
    md-item-text='item._id',
    placeholder='Search payment method',
    md-floating-label = label,
    amma-payment-method-search-only-id = 'false',
    amma-payment-method-search = name + '_paymentMethodSearch',
    )&attributes(attributes)
        md-item-template
            span(md-highlight-text=name + '_searchText')
                | {{item._id}}
        block


mixin amma-shipping-method-autocomplete-full(scope, name, label, model)
    if !model
        - model =  scope.controllerAlias +'.model.'+name

    md-autocomplete(
    md-selected-item= model,
    md-search-text= name + '_searchText',
    md-items='item in ' + name + '_shippingMethodSearch(' + name + '_searchText)',
    md-item-text='item._id',
    placeholder='Search shipping method',
    md-floating-label = label,
    amma-shipping-method-search-only-id = 'false',
    amma-shipping-method-search = name + '_shippingMethodSearch',
    )&attributes(attributes)
        md-item-template
            span(md-highlight-text=name + '_searchText')
                | {{item._id}}
        block


mixin amma-product-autocomplete-full(scope, name, label, model)
    if !model
        - model =  scope.controllerAlias +'.model.'+name

    md-autocomplete(
    md-selected-item= model,
    md-search-text= name + '_searchText',
    md-items='item in ' + name + '_productSearch(' + name + '_searchText)',
    md-item-text='item._id',
    placeholder='Search product',
    md-floating-label = label,
    amma-product-search = name + '_productSearch',
    amma-product-search-only-id = 'false',
    )&attributes(attributes)
        md-item-template
            span(md-highlight-text=name + '_searchText')
                | {{item._id}}
        block


mixin amma-user-groups(scope, name, label, model)
    label
        =label
    if !model
        - model =  scope.controllerAlias +'.model.'+name
    md-chips(
    name=name,
    md-autocomplete-snap='',
    ng-model=model,
    md-require-match='true',
    )&attributes(attributes)
        md-autocomplete(
        md-selected-item= name + '_selectedItem',
        md-search-text= name + '_searchText',
        md-items='item in ' + name + '_userGroupSearch(' + name + '_searchText)',
        md-item-text='item',
        placeholder='Select user groups',
        amma-user-group-search = name + '_userGroupSearch')
            span(md-highlight-text=name + '_searchText') {{item}}
        md-chip-template
            span
                | {{$chip._id || $chip}}

mixin amma-product-features(scope, name, label, model)
    label
        =label
    if !model
        - model =  scope.controllerAlias +'.model.'+name
    md-chips(
    name=name,
    ng-model=model,
    md-require-match='true',
    md-autocomplete-snap='',
    )&attributes(attributes)
        md-autocomplete(
        md-selected-item= name + '_selectedItem',
        md-search-text= name + '_searchText',
        md-items='item in ' + name + '_featureSearch(' + name + '_searchText)',
        md-item-text='item',
        placeholder='Select features',
        amma-feature-search = name + '_featureSearch')
            span(md-highlight-text=name + '_searchText') {{item}}
        md-chip-template
            span
                | {{$chip._id || $chip}}

mixin amma-product-tags(scope, name, label, model)
    label
        =label
    if !model
        - model =  scope.controllerAlias +'.model.'+name
    md-chips(
    name=name,
    ng-model=model,
    md-autocomplete-snap='',
    )&attributes(attributes)
        md-autocomplete(
        md-selected-item= name + '_selectedItem',
        md-search-text= name + '_searchText',
        md-items='item in ' + name + '_tagSearch(' + name + '_searchText)',
        md-item-text='item',
        placeholder='Select tags',
        amma-tag-search = name + '_tagSearch')
            span(md-highlight-text=name + '_searchText') {{item}}
        md-chip-template
            span
                | {{$chip._id || $chip}}
        block

mixin amma-chips(scope, name, label, model)
    label
        =label
    if !model
        - model =  scope.controllerAlias +'.model.'+name
    md-chips(
    name=name,
    ng-model=model,
    )&attributes(attributes)


mixin amma-address(scope, modelPath)
    div(flex='', layout='row')
        +amma-form-item-container(scope)
            +amma-input(scope, 'addressLine1', 'Address Line 1', null, modelPath + '.addressLine1')(required='')
            +amma-error-wrapper(scope, 'addressLine1')
                +amma-error-item('required') Please enter address Line 1

        +amma-form-item-container(scope)
            +amma-input(scope, 'addressLine2', 'Address Line 2', null, modelPath + '.addressLine2')
            +amma-error-wrapper(scope, 'addressLine2')
                +amma-error-item('required') Please enter address Line 2

    div(flex='', layout='row')
        +amma-form-item-container(scope)
            +amma-input(scope, 'town', 'Town/City', null, modelPath + '.town')

        +amma-form-item-container(scope)
            +amma-input(scope, 'county', 'County', null, modelPath + '.county')


    div(flex='', layout='row')
        +amma-form-item-container(scope)
            +amma-input(scope, 'country', 'Country', null, modelPath + '.country')
            +amma-error-wrapper(scope, 'country')
                +amma-error-item('required') Please enter Country
        +amma-form-item-container(scope)
            +amma-input(scope, 'postcode', 'Postcode', null, modelPath + '.postcode')
            +amma-error-wrapper(scope, 'postcode')
                +amma-error-item('required') Please enter Postcode


mixin amma-order-item(scope, keyString, name )
    div(layout='row', layout-align='end center')
        +amma-button-primary('Add')(ng-click= scope.controllerAlias + '.add' + name + '($event)')
    md-table-container
        table(md-table='')
            thead(md-head='')
                tr(md-row='')
                    th(md-column='')
                        span Id
                    th(md-column='')
                        span Title
                    th(md-column='')
                        span Sell price
                    th(md-column='')
                        span Cost price
                    th(md-column='')
                        span List Price
                    th(md-column='') Actions
            tbody(md-body='')
                tr(md-row='', ng-show=scope.controllerAlias + '.' + keyString + ' && ' + scope.controllerAlias + '.' + keyString + '.length' , ng-repeat='(key,item) in ' + scope.controllerAlias + '.' + keyString)
                    td(md-cell='')
                        +amma-form-item-container(scope)
                            input(type='text', ng-model = 'item._id' , name=name + '_itemId_{{$index}}')(required='')
                            div(ng-messages=scope.formName + '["' + name + '_itemId_"+$index].$error', md-auto-hide='false', ng-show=scope.formName + '["' + name + '_itemId_"+$index].$touched')
                                +amma-error-item('required') Please enter Item Id

                    td(md-cell='')
                        +amma-form-item-container(scope)
                            input(type='text', ng-model = 'item.title' , name=name + '_itemTitle_{{$index}}')(required='')
                            div(ng-messages=scope.formName + '["' + name + '_itemTitle_"+$index].$error', md-auto-hide='false', ng-show=scope.formName + '["' + name + '_itemTitle_"+$index].$touched')
                                +amma-error-item('required') Please enter Title
                    td(md-cell='')
                        +amma-form-item-container(scope)
                            input(type='number', ng-model = 'item.price.sell' , name=name + '_itemSellPrice_{{$index}}')(required='')
                            div(ng-messages=scope.formName + '["' + name + '_itemSellPrice_"+$index].$error', md-auto-hide='false', ng-show=scope.formName + '["' + name + '_itemSellPrice_"+$index].$touched')
                                +amma-error-item('required') Please enter sell price
                                +amma-error-item('number') Please enter valid price
                    td(md-cell='')
                        +amma-form-item-container(scope)
                            input(type='number', ng-model = 'item.price.cost' , name=name + '_itemCostPrice_{{$index}}')
                            div(ng-messages=scope.formName + '["' + name + '_itemCostPrice_"+$index].$error', md-auto-hide='false', ng-show=scope.formName + '["' + name + '_itemCostPrice_"+$index].$touched')
                                +amma-error-item('number') Please enter valid price
                    td(md-cell='')
                        +amma-form-item-container(scope)
                            input(type='number', ng-model = 'item.price.list' , name=name + '_itemListPrice_{{$index}}')
                            div(ng-messages=scope.formName + '["' + name + '_itemListPrice_"+$index].$error', md-auto-hide='false', ng-show=scope.formName + '["' + name + '_itemListPrice_"+$index].$touched')
                                +amma-error-item('number') Please enter valid price

                    td(md-cell='')
                        md-button.md-fab.md-warn.md-raised.md-mini(aria-label='Delete', ng-click=scope.controllerAlias + '.remove' + name + '(key)')
                            md-icon(md-font-icon='fa fa-times')
                tr(md-row='', ng-show='!' + scope.controllerAlias + '.' + keyString + ' || !' + scope.controllerAlias + '.' + keyString + '.length')
                    td(md-cell='', colspan='6') Currently there are no items

